body {
  font-size: 10pt;
  font-family: "Courier New", Courier, Monaco, monospace;
}

.main {
  position: absolute;
  display: block;
  margin: 1em;
  right: 0;
}

.main h1 {
  font-size: 5em;
  padding-bottom:0.25em;
  writing-mode: vertical-lr;
  border-bottom: 2px solid black;
}
